# Part 2 - Mapping Yelp Search Results

## Obective

- For this CodeAlong, we will be working with the Yelp API results from last class. 
- You will load in the .csv.gz of your yelp results and prepare the data for visualization.
- You will use Plotly Express to create an interactive map with all of the results.

## Tools You Will Use
- Part 1:
    - Yelp API:
        - Getting Started: 
            - https://www.yelp.com/developers/documentation/v3/get_started

    - `YelpAPI` python package
        -  "YelpAPI": https://github.com/gfairchild/yelpapi
- Part 2:

    - Plotly Express: https://plotly.com/python/getting-started/
        - With Mapbox API: https://www.mapbox.com/
        - `px.scatter_mapbox` [Documentation](https://plotly.com/python/scattermapbox/):

### Applying Code From
- [Advanced Transformations with Pandas - Part 1](https://login.codingdojo.com/m/376/12529/88086)
- [Advanced Transformations with Pandas - Part 2](https://login.codingdojo.com/m/376/12529/88088)

### Goal

- We want to create a map with every restaurant plotted as a scatter plot with detailed information that appears when we hover over a business
- We will use plotly express's `px.scatter_mapbox` function to accomplish this.
    - https://plotly.com/python/scattermapbox/
    
    - We will need a Mapbox API token for some of the options:
        - https://studio.mapbox.com/

# Loading Data from Part 1

In [1]:
## Plotly is not included in your dojo-env
!pip install plotly

Requirement already satisfied: plotly in c:\users\rdbha\anaconda3\envs\dojo-env\lib\site-packages (5.8.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\rdbha\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (8.0.1)

In [20]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json

## importing plotly 
import plotly.express as px

In [21]:
## Load in csv.gz
df = pd.read_csv('Data/final_results_sushi.csv.gz')
df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,zG_XOAFi9Y560WJ1RvghBw,sushi-masa-japanese-restaurant-greenville,Sushi-Masa Japanese Restaurant,https://s3-media1.fl.yelpcdn.com/bphoto/zsRavZ...,False,https://www.yelp.com/biz/sushi-masa-japanese-r...,145,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",4.5,"{'latitude': 34.8512725830078, 'longitude': -8...",['delivery'],$$,"{'address1': '8590 Pelham Rd', 'address2': 'St...",1.864288e+10,(864) 288-2227,11481.830881
1,RGRk1ioORwm_FIX8PM732Q,konnichiwa-greenville,Konnichiwa,https://s3-media3.fl.yelpcdn.com/bphoto/FU6pBh...,False,https://www.yelp.com/biz/konnichiwa-greenville...,17,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 34.845952342825115, 'longitude': ...",[],NaN,"{'address1': '101 Falls Park Dr', 'address2': ...",1.864252e+10,(864) 252-4436,4184.255183
2,7cJxOV-ANX1qLThK3yV96w,otto-izakaya-greenville-4,Otto Izakaya,https://s3-media1.fl.yelpcdn.com/bphoto/TdPhFy...,False,https://www.yelp.com/biz/otto-izakaya-greenvil...,393,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.0,"{'latitude': 34.8228218820722, 'longitude': -8...",['delivery'],$$,"{'address1': '15 Market Point Dr', 'address2':...",1.864569e+10,(864) 568-8009,5933.485357
3,VU0mq_4iDCZ3w1pDcbGiuQ,love-sushi-greenville-4,Love Sushi,https://s3-media3.fl.yelpcdn.com/bphoto/zHiqdu...,False,https://www.yelp.com/biz/love-sushi-greenville...,14,"[{'alias': 'japanese', 'title': 'Japanese'}]",5.0,"{'latitude': 34.82095, 'longitude': -82.25788}",[],NaN,"{'address1': '2131 Woodruff Rd', 'address2': '...",1.864676e+10,(864) 675-6360,9540.226675
4,dvgaR-1sAfuHSi4_ZKXmwQ,sushi-murasaki-greenville,Sushi Murasaki,https://s3-media4.fl.yelpcdn.com/bphoto/sKCCZu...,False,https://www.yelp.com/biz/sushi-murasaki-greenv...,207,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",3.5,"{'latitude': 34.8506663, 'longitude': -82.3992...","['pickup', 'delivery']",$$,"{'address1': '2 S Main St', 'address2': '', 'a...",1.864271e+10,(864) 271-2452,3808.715842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,xQZIvcjkH2R14yaHr2qQYQ,the-cheesecake-factory-greenville-greenville,The Cheesecake Factory - Greenville,https://s3-media2.fl.yelpcdn.com/bphoto/SUrPQg...,False,https://www.yelp.com/biz/the-cheesecake-factor...,400,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",3.0,"{'latitude': 34.8499166, 'longitude': -82.3335...","['delivery', 'restaurant_reservation']",$$,"{'address1': '700 Haywood Mall', 'address2': '...",1.864288e+10,(864) 288-4444,2209.333296
95,gUsB3gAE413Ezd3P6IxlmA,7-eleven-piedmont,7-Eleven,NaN,False,https://www.yelp.com/biz/7-eleven-piedmont?adj...,5,"[{'alias': 'servicestations', 'title': 'Gas St...",2.0,"{'latitude': 34.6970574719195, 'longitude': -8...","['delivery', 'pickup']",$,"{'address1': '7803 Augusta Rd', 'address2': ''...",1.864277e+10,(864) 277-2316,17107.266905
96,_Ptzoh-8-8vJT_OF7t9TLQ,sprouts-farmers-market-simpsonville,Sprouts Farmers Market,https://s3-media3.fl.yelpcdn.com/bphoto/C1Xlae...,False,https://www.yelp.com/biz/sprouts-farmers-marke...,31,"[{'alias': 'healthmarkets', 'title': 'Health M...",4.0,"{'latitude': 34.8186242, 'longitude': -82.255452}",[],NaN,"{'address1': '2200 Woodruff Rd', 'address2': '...",1.864757e+10,(864) 757-3240,9866.418853
97,Ld7D2rUr627TNkoIdRkXwQ,lowes-foods-greenville-2,Lowes Foods,https://s3-media3.fl.yelpcdn.com/bphoto/3h-jGP...,False,https://www.yelp.com/biz/lowes-foods-greenvill...,5,"[{'alias': 'grocery', 'title': 'Grocery'}]",3.0,"{'latitude': 34.86149155901255, 'longitude': -...",[],NaN,"{'address1': '3619 Pelham Rd', 'address2': '',...",1.864288e+10,(864) 288-4162,8304.264308
98,xb9QSdbk63Ani2-S5MrIHQ,harris-teeter-greenville-6,Harris Teeter,https://s3-media3.fl.yelpcdn.com/bphoto/ZelRSg...,False,https://www.yelp.com/biz/harris-teeter-greenvi...,24,"[{'alias': 'grocery', 'title': 'Grocery'}, {'a...",3.5,"{'latitude': 34.8279736, 'longitude': -82.3987...",[],$$,"{'address1': '1720 Augusta St', 'address2': ''...",1.864978e+10,(864) 977-8041,4335.688854

In [5]:
df.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,zG_XOAFi9Y560WJ1RvghBw,sushi-masa-japanese-restaurant-greenville,Sushi-Masa Japanese Restaurant,https://s3-media1.fl.yelpcdn.com/bphoto/zsRavZ...,False,https://www.yelp.com/biz/sushi-masa-japanese-r...,145,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",4.5,"{'latitude': 34.8512725830078, 'longitude': -8...",['delivery'],$$,"{'address1': '8590 Pelham Rd', 'address2': 'St...",1.864288e+10,(864) 288-2227,11481.830881
1,RGRk1ioORwm_FIX8PM732Q,konnichiwa-greenville,Konnichiwa,https://s3-media3.fl.yelpcdn.com/bphoto/FU6pBh...,False,https://www.yelp.com/biz/konnichiwa-greenville...,17,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 34.845952342825115, 'longitude': ...",[],NaN,"{'address1': '101 Falls Park Dr', 'address2': ...",1.864252e+10,(864) 252-4436,4184.255183
2,7cJxOV-ANX1qLThK3yV96w,otto-izakaya-greenville-4,Otto Izakaya,https://s3-media1.fl.yelpcdn.com/bphoto/TdPhFy...,False,https://www.yelp.com/biz/otto-izakaya-greenvil...,393,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.0,"{'latitude': 34.8228218820722, 'longitude': -8...",['delivery'],$$,"{'address1': '15 Market Point Dr', 'address2':...",1.864569e+10,(864) 568-8009,5933.485357
3,VU0mq_4iDCZ3w1pDcbGiuQ,love-sushi-greenville-4,Love Sushi,https://s3-media3.fl.yelpcdn.com/bphoto/zHiqdu...,False,https://www.yelp.com/biz/love-sushi-greenville...,14,"[{'alias': 'japanese', 'title': 'Japanese'}]",5.0,"{'latitude': 34.82095, 'longitude': -82.25788}",[],NaN,"{'address1': '2131 Woodruff Rd', 'address2': '...",1.864676e+10,(864) 675-6360,9540.226675
4,dvgaR-1sAfuHSi4_ZKXmwQ,sushi-murasaki-greenville,Sushi Murasaki,https://s3-media4.fl.yelpcdn.com/bphoto/sKCCZu...,False,https://www.yelp.com/biz/sushi-murasaki-greenv...,207,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",3.5,"{'latitude': 34.8506663, 'longitude': -82.3992...","['pickup', 'delivery']",$$,"{'address1': '2 S Main St', 'address2': '', 'a...",1.864271e+10,(864) 271-2452,3808.715842

## Required Preprocessing

- 1. We need to get the latitude and longitude for each business as separate columns.
- We also want to be able to show the restaurants:
    - name,
    - price range
    - address
    - and if they do delivery or takeout.

### Separating Latitude and Longitude

In [6]:
## use .apply pd.Series to convert a dict to columns
df['coordinates'].apply(pd.Series)

                                                    0
0   {'latitude': 34.8512725830078, 'longitude': -8...
1   {'latitude': 34.845952342825115, 'longitude': ...
2   {'latitude': 34.8228218820722, 'longitude': -8...
3      {'latitude': 34.82095, 'longitude': -82.25788}
4   {'latitude': 34.8506663, 'longitude': -82.3992...
..                                                ...
94  {'latitude': 34.8499166, 'longitude': -82.3335...
95  {'latitude': 34.6970574719195, 'longitude': -8...
96  {'latitude': 34.8186242, 'longitude': -82.255452}
97  {'latitude': 34.86149155901255, 'longitude': -...
98  {'latitude': 34.8279736, 'longitude': -82.3987...

[99 rows x 1 columns]

- Why didn't that work???

In [8]:
## slice out a single test coordinate
test_coord = df.loc[2,'coordinates']
test_coord

"{'latitude': 34.8228218820722, 'longitude': -82.3000437297499}"

- Its not a dictionary anymore!!! WTF??
    - CSV files cant store iterables (lists, dictionaries) so they get converted to strings.

### Fixing the String-Dictionaries

- The json module has another version of load and dump called `json.loads` and `json.dumps`
    - These are designed to process STRINGS instead of files. 
    
- If we use `json.loads` we can convert our string dictionary into an actual dictionary.

In [9]:
## Use json.loads on the test coordinate
json.loads(test_coord)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

- JSON requires double quotes!

In [11]:
## replace single ' with " 
## use .str.replace to replace all single quotes
test_coord = test_coord.replace("'",'"')
test_coord

'{"latitude": 34.8228218820722, "longitude": -82.3000437297499}'

In [12]:
## Use json.loads on the test coordinate, again
json.loads(test_coord)

{'latitude': 34.8228218820722, 'longitude': -82.3000437297499}

### Now, how can we apply this same process to the entire column??

In [17]:
## replace ' with " (entire column)

## apply json.loads
## use .str.replace to replace all single quotes
df['coordinates'] = df['coordinates'].str.replace("'",'"')
## Apply the json.loads to the full column
df['coordinates'] = df['coordinates'].apply(json.loads)
df['coordinates'].head()

TypeError: the JSON object must be str, bytes or bytearray, not float

In [ ]:
## slice out a single test coordinate

### Using Apply with pd.Series to convert a dictionary column into multiple columns

In [18]:
## use .apply pd.Series to convert a dict to columns
df['coordinates'].apply(pd.Series)

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
..  ..
94 NaN
95 NaN
96 NaN
97 NaN
98 NaN

[99 rows x 1 columns]

In [19]:
## Concatenate the 2 new columns and drop the original.
type(df['coordinates'])

pandas.core.series.Series

In [29]:
 df['coordinates'].apply(lambda x:pd.Series(json.loads((x.replace("'",'"')))))

     latitude  longitude
0   34.851273 -82.231812
1   34.845952 -82.403445
2   34.822822 -82.300044
3   34.820950 -82.257880
4   34.850666 -82.399203
..        ...        ...
94  34.849917 -82.333593
95  34.697057 -82.396389
96  34.818624 -82.255452
97  34.861492 -82.268220
98  34.827974 -82.398701

[99 rows x 2 columns]

In [ ]:
df = pd.concat(df.drop(columns = ['']))

## Creating a Simple Map

### Register for MapBox API

Mapbox API: https://www.mapbox.com/

In [ ]:
## Load in mapbox api credentials from .secret

- Use the plotly express `set_maptbox_acccess_token` function

In [ ]:
## set mapbox token

In [ ]:
## use scatter_mapbox for M.V.P map

### Adding Hover Data

- We want to show the restaurants:
    - name
    - price range
    - address
    - and if they do delivery or takeout.
    
    
- We can use the `hover_name` and `hover_data` arguments for `px.scatter_mapbox` to add this info!

In [ ]:
## add hover_name (name) and hover_data for price,rating,location

### Fixing the Location Column

In [ ]:
## slice out a test address

> Also a string-dictionary...

In [ ]:
## replace ' with "
df['location'] = df['location'].str.replace("'", '"')
df

In [ ]:
## apply json.loads

> Ruh roh....

- Hmm, let's slice out a test_address again and let's write a function to accomplish this instead.
    - We can use try and except in our function to get around the errors.

### Fixing Addresses - with a custom function

In [ ]:
## slice out test address 
test_addr = df.loc[0, 'location']
test_addr

In [ ]:
## write a function to just run json.loads on the address

In [ ]:
## test applying our function

- It worked! Now let's save this as a new column (display_location),
and then let's investigate the businesses that had an "ERROR".

In [ ]:
### save a new display_location column using our function

In [ ]:
## filter for businesses with display_location == "ERROR"

In [ ]:
## slice out a new test address and inspect
test_addr = df.loc[437, 'location']
test_addr

> After some more investigation, we would find a few issues with these "ERROR" rows.
1. They contained None.
2. They contained an apostrophe in the name.
3. ...?

### Possible Fixes (if we care to/have the time)

- Use Regular Expressions to find an fix the display addresses with "'" in them
- Use string split to split on the word display address.
    - Then use string methods to clean up

### Moving Forward without those rows (for now)

In [ ]:
## remove any rows where display_location == 'ERROR'

- We want the "display_address" key from the "display_location" dictionaries.
- We could use a .apply and a lamda to slice out the desired key.

In [ ]:
## use apply and lambda to slice correct key

- Almost done! We want to convert display_address to a string instead a list of strings.
- We can use the string method .join to do so!

In [ ]:
## slice out a test_address

In [ ]:
## test using .join with a "\n"

In [ ]:
## apply the join to every row with a lambda

### Final Map

In [ ]:
## make ourn final map and save as varaible

#### HTML Uses `<br>` instead of `\n`

In [ ]:
## remake the final address column with <br> instead 

## plot the final map

In [ ]:
## use fig.write_html to save map